.btn {
  background-color: pink;
  border-color: gray;
  color: gray;
  font-weight: 500;
}

.hidden {
  display: none;
}

#name {
  background-color: pink;
  border-radius: 5px;
  border-color: transparent;
  padding: 5px;
  color: gray
}

#season {
  background-color: pink;
  border-radius: 5px;
  border-color: transparent;
  padding: 5px;
  color: gray
}

#hobby {
  background-color: pink;
  border-radius: 5px;
  border-color: transparent;
  padding: 5px;
  color: gray
}

#animal {
  background-color: pink;
  border-radius: 5px;
  border-color: transparent;
  padding: 5px;
  color: gray
}

body {
  background-color: lightgray;
}

#output {
  background-color: pink;
  border-radius: 5px;
  border: solid 3px gray;
  padding: 10px;
  color: gray;
}